.FilterSection {
  padding: 1%;
  height: 10%;
  width: 100%;
  display: grid;
  grid-template-areas:
    " vehicle people planet favorite";

  button {
    width: 100px;
    height: 50px;
    border: 1px solid red;
    margin: 1%;
    border-radius: 25px;
    background: #000;
    color: gold;
    text-transform: capitalize;
  }

  .people {
    grid-area: people;
  }

  .vehicle {
    grid-area: vehicle;
  }

  .planet {
    grid-area: planet;
  }

  .favorite {
    grid-area: favorite;
  }

}