.FilterSection {
  padding: 1%;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-around;

  button {
    width: 100px;
    height: 50px;
    border: 1px solid red;
    margin: 1%;
    border-radius: 25px;
    background: #000;
    color: gold;
    text-transform: capitalize;

    &:focus{
      outline:none;
    }
    
    &:hover {
      background: red;
    }
  }

  .selected {
    outline: none;
    background: gold;
    color: black;
  }

}