.CardArea {
  background: grey;
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  justify-content: center;
  overflow: scroll;
  padding: 2%;
  position: relative;
  width: 100%;


  .Card {
    border: gold 1px solid;
    margin: 1%;
    text-align: center;
    width: 30%;
  }

}